# backend/.env.example
DEBUG=True
SECRET_KEY=""
DB_NAME=""
DB_USER=""
DB_PASSWORD=""
STRIPE_SECRET_KEY=""
STRIPE_PUBLISHABLE_KEY=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
RECAPTCHA_SECRET_KEY=""
